<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>下载音乐</string>
		<key>icon</key>
		<string>cm2_lay_icn_dld</string>
	</dict>
	<dict>
		<key>title</key>
		<string>最近播放</string>
		<key>icon</key>
		<string>cm2_list_icn_recent</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iPod</string>
		<key>icon</key>
		<string>cm2_list_icn_ipod</string>
	</dict>
</array>
</plist>
