<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Beyond</string>
	<string>五月天</string>
	<string>牛奶咖啡</string>
	<string>逃跑计划</string>
	<string>苏打绿</string>
	<string>GALA</string>
	<string>好妹妹乐队</string>
	<string>凤凰传奇</string>
	<string>南拳妈妈</string>
	<string>动力火车</string>
	<string>羽泉</string>
	<string>By2</string>
	<string>信乐团</string>
</array>
</plist>
