<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>华语男歌手</string>
		<string>华语女歌手</string>
		<string>华语乐队/组合</string>
	</array>
	<array>
		<string>欧美男歌手</string>
		<string>欧美女歌手</string>
		<string>欧美乐队/组合</string>
	</array>
	<array>
		<string>日本男歌手</string>
		<string>日本女歌手</string>
		<string>日本乐队/组合</string>
	</array>
	<array>
		<string>韩国男歌手</string>
		<string>韩国女歌手</string>
		<string>韩国乐队/组合</string>
	</array>
</array>
</plist>
