<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>杨千嬅</string>
	<string>孙燕姿</string>
	<string>卫兰</string>
	<string>王菲</string>
	<string>邓紫棋</string>
	<string>梁静茹</string>
	<string>莫文蔚</string>
	<string>蔡健雅</string>
	<string>张惠妹</string>
	<string>纳音</string>
	<string>A-Lin</string>
	<string>张靓颖</string>
	<string>谢安琪</string>
	<string>刘若英</string>
	<string>蔡依林</string>
	<string>容祖儿</string>
	<string>刘思涵</string>
	<string>陈绮贞</string>
	<string>田馥甄</string>
	<string>谭维维</string>
	<string>陈洁仪</string>
	<string>范玮琪</string>
	<string>庄心妍</string>
	<string>彭佳慧</string>
	<string>陈慧娴</string>
	<string>曲婉婷</string>
	<string>花粥</string>
	<string>蔡琴</string>
	<string>郁可唯</string>
	<string>杨丞琳</string>
	<string>姚贝娜</string>
	<string>温岚</string>
	<string>曾轶可</string>
	<string>尚雯婕</string>
	<string>蓝又时</string>
	<string>范晓萱</string>
	<string>本兮</string>
	<string>林忆莲</string>
	<string>洛天依</string>
	<string>梅艳芳</string>
	<string>郭静</string>
</array>
</plist>
