<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>周杰伦</string>
	<string>张国荣</string>
	<string>陈奕迅</string>
	<string>李荣浩</string>
	<string>林俊杰</string>
	<string>张学友</string>
	<string>李健</string>
	<string>李志</string>
	<string>成小春</string>
	<string>薛之谦</string>
	<string>许巍</string>
	<string>李宗盛</string>
	<string>赵雷</string>
	<string>宋冬野</string>
	<string>杨宗纬</string>
	<string>许嵩</string>
	<string>萧敬腾</string>
	<string>张敬轩</string>
	<string>张杰</string>
	<string>刘德华</string>
	<string>古巨基</string>
	<string>周华健</string>
	<string>李克勤</string>
	<string>张震岳</string>
	<string>林宥嘉</string>
	<string>汪峰</string>
	<string>张信哲</string>
	<string>陶喆</string>
	<string>方大同</string>
	<string>谭咏麟</string>
	<string>周传雄</string>
	<string>尧十三</string>
	<string>张宇</string>
	<string>任贤齐</string>
	<string>罗大佑</string>
	<string>胡夏</string>
	<string>回音哥</string>
	<string>齐秦</string>
	<string>李行亮</string>
	<string>阿杜</string>
	<string>胡彦斌</string>
</array>
</plist>
